table{
    border-radius: 4px;
    border-color:mediumblue ;
    
}


table ,th,td{
    border: 5px solid mediumaquamarine;
    
    color: rgb(5, 20, 6);
    background-color: rgb(158, 223, 54);
    border: radius ;
}


